/* header */
.header {
    background: rgba(73, 73, 73, 0.493);
    display: flex;
    flex-direction: row;
}

a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    
}

.logo {
    
    font-size: 30px;
    font-weight: 700;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-width: 1385px;


}

a:hover {
    background: rgba(94, 93, 93, 0.555);
}

.space {
    width: 50px;
   }

.space:hover {
    background: transparent;
    cursor: default;
}

body {
    background-image: url(../temple.jpeg);
    background-size: 100%;
}

.link1, .link2, .link3 {
    padding-top: 15px;
    
}

/* body */

.leftcontainer {
    background-color: rgba(94, 93, 93, 0.555);
    margin: 20px;
    width: 13.5%;
}
.body {
    width: 25%;
    height: auto;
    display: flex; 
    float: left;
    flex-direction: row;
    
}

.sidebar {
    display: flex;
    justify-content: center;
}
.body {
    margin: 20px;
    padding: 10px;
    background-color: rgba(73, 73, 73, 0.493);
    border-radius: 2.3px;
    color: rgb(0, 0, 0);

}


.nolink:hover {
    cursor: default;
    background-color: rgba(94, 93, 93, 0.555)
    
}

.title {
    margin: 20px;
    background: rgba(94, 93, 93, 0.555);
    padding: 10px;
    padding-left: 20px;
    width: 35%;
    border-radius: 3px;
    border-left: 5px solid black;
    color: black;

}

.con h1 {
    padding: 5px;
    border-bottom: 2px solid black;
    width: 75%;
}
/* photo styles */
img {
    width: 100% !important;
    height: 100%;
    transition: transform .1s; /* Animation */
}

img:hover {
    transform: scale(2);
    
}

.div a:hover {
    background: none;
    color: #b9b8b8;
}
.photos {
    margin-left: 10%;
}

